<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.example.danielnotar"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
    
    <preference name="phonegap-version" value="3.0.0" />

    <name>Daniel Notar</name>

    <description>
      DR. DÁNIEL CSABA KÖZJEGYZŐ mobil applikációja.
    </description>

    <author href="http://www.webmark.hu" email="info@webmark.hu">
      Webmark Europe Kft.
    </author>

    <access origin="http://app.danielnotar.com" />
    <access origin="http://danielnotar.com" subdomains="true" />
    <access origin="http://googleapis.com" subdomains="true" />
    
    <gap:platform name="android" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    
</widget>