body {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width:100%;
	background:#efb65b;
	margin:0;
	padding:0;
	font-family: 'Andada', serif;
}

a {
	color:#610000;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6,p {
	margin:0;
}

img {
	border:none;
}

/*-----content*/
#content {
	background: -webkit-linear-gradient(top, #fff0c1, #efb65b);
	background: -moz-linear-gradient(top, #fff0c1, #efb65b);
	background: -ms-linear-gradient(top, #fff0c1, #efb65b);
	background: -o-linear-gradient(top, #fff0c1, #efb65b);
	text-align:center;
}

/*-----------------------------------------screen1*/
#app-logo {
	width:100%;
	height:250px;
	background:url(../img/app-logo.png) no-repeat center;
	padding:250px 0 0;
}
#startApp {
	font-size:66px;
}

/*-----------------------------------------screen2*/

/*common*/
.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}
